

h1 {
    height: 15vh;
    display: flex;
    justify-content: end;
}

body {
    background-color: rgba(225, 255, 0, 0.648)
}

main {
    padding-left: 7%;
}

#board-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width: 310px;
    background-color: aqua;
}

#board-container > div {
    padding: 5px;
    background-color: white;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

