
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
      height: 100vh;
      margin-left:auto;
      margin-right:auto;
      width:960px;
      background-color: rgb(251, 243, 214);
  }

h1 {
    margin: 1% 0% -9% 60%;
    width: 265px;
    font-size: 40px;
    background-color: aqua;
}

h2 {
    padding: 7% 0% 4% 22%;
}

main {
    padding-left: 7%;
}

#board-container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 150px) 250px;
    grid-template-rows: repeat(3, 150px);
    width: 456px;
    height: 456px;
    background-color: rgb(0, 225, 255);
}

#board-container > div {
    padding: 5px;
    background-color: rgb(251, 243, 214);
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    font-weight: bold;
}

button {
    margin: 5% 0% 0% 23%;
}