
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

  
body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(251, 243, 214);
  }

.container > h1 {
    margin-left: 65%;
    margin-right: 29%;
    width: 170px;
    font-size: 40px;
    background-color: aqua;
}

main {
    padding-left: 7%;
}

#board-container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 150px) 130px;
    grid-template-rows: repeat(3, 150px);
    width: 456px;
    height: 456px;
    background-color: rgb(0, 225, 255);
}

#board-container > div {
    padding: 5px;
    background-color: rgb(251, 243, 214);
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
}